:root {
    --colorPrincipal: #fff;
    --colorSecundario: #94a3b8;
    --bcBotones: #2563EB;
}
body {
  background: linear-gradient(
    135deg,
    #080A0C 0%,
    #0A0A1F 35%,
    #0F172A 70%,
    #1B294B 100%
  );
  min-height: 100vh;
  color: var(--colorPrincipal);
  font-family: Helvetica, sans-serif;
  overflow-y: hidden;
}
main {
    position: relative;
}
/*-------------------------------------------------------*/
                     /*DASHBOARD*/
/*-------------------------------------------------------*/
/*.dashboard {
    display: none;
}*/
h1 {
    text-transform: uppercase;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    margin-left: 20px;
}
.btn-nuevaSesion {
    position: absolute;
    right: 115px;
    top: 10px;
    font-size: 25px;
}
.cambio-pestaña {
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    padding: 20px;
}
.btn-dashboard {
    padding: 10px 5px;
    font-weight: 550;
}
.btn-historial {
    padding: 10px 5px;
    width: 99.24px;
    font-weight: 550;
}
.cards {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    row-gap: 10px;
    width: 100%;
    justify-content: center;
    column-gap: 200px;
}
.card {
    border: 3px solid #fff;
    border-radius: 8px;
    padding: 10px;
    width: 500px;

}
.header-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.entrar-sesion {
    padding: 2px;
    font-size: 15px;
    height: 40px;
}
/*-------------------------------------------------------*/
                    /*SESION ACTIVA*/
/*-------------------------------------------------------*/
button {
    background-color: var(--bcBotones);
    border: solid #080A0C;
    border-radius: 8px;
    transition: 0.250s ease;
}
button:hover {
    transform: scale(1.05);
}
button:focus {
    transform: scale(0.95);
}
.botones {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.sesion-activa {
    display: none;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
}
.columna-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}
.caja-registros {
    display: flex;
    place-items: center;
    transform: translateX(-20px);
    border: 3px solid #1B294B;
    border-radius: 8px;
    font-size: 20px;
    margin-left: 20px;
    height: 100px;
    padding: 5px 10px;
}
.barra-progreso {
    border: 3px solid #1B294B;
    border-radius: 8px;
    padding: 5px 10px;
    height: 100px;
    width: 740px;
    box-sizing: border-box;
}
.lista-vueltas {
    display: flex;
    border: 3px solid #1B294B;
    border-radius: 8px;
    max-height: 450px;
    width: calc(100% - 25px);
}
.lista-vueltas ul {
    display: flex;
    flex-direction: column;
    column-gap: 40px;
    flex-wrap: wrap;
    overflow-x: auto;
    scrollbar-width: 2px; 
    scrollbar-color: #1B294B;
}
.lista-vueltas ul li {
    margin-bottom: 10px;
}
.columna-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}
.caja-promedios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #1B294B;
    border-radius: 8px;
    padding-left: 10px;
    height: calc(50% - 20px);
}
.grafico {
    border: 3px solid #1B294B;
    border-radius: 8px;
    padding-left: 10px;
    height: calc(50% - 40px);
}
#btn-volver-dashboard {
    width: fit-content;
}
/*-------------------------------------------------------------------*/
/*HISTORIAL*/
/*-------------------------------------------------------------------*/
.historial-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-right: 5px;
}
.historial-card {
    display: flex;
    justify-content: space-between;
    border: 3px solid #1B294B;
    border-radius: 8px;
    width: 95%;
    padding: 2px 5px;
    align-items: center;

}